@model Project1.Models.Trainer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trainer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrainerID" />
            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <input asp-for="MemberID" class="form-control" />
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerName" class="control-label"></label>
                <input asp-for="TrainerName" class="form-control" />
                <span asp-validation-for="TrainerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecializationID" class="control-label"></label>
                <input asp-for="SpecializationID" class="form-control" />
                <span asp-validation-for="SpecializationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualifications" class="control-label"></label>
                <input asp-for="Qualifications" class="form-control" />
                <span asp-validation-for="Qualifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
