@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css" rel="stylesheet" />
    <style>
        thead {
            background-color: burlywood;
            color: darkslategray;
        }

        .card-img-top {
            width: 100%;
            height: 20vw;
            object-fit: cover;
        }
    </style>

}
<div id="app" class="container">
    <h1>{{selectedRank}}排行榜</h1>
    <select v-model="selectedRank">
        <option v-for="option in options" v-bind:value="option.name">{{ option.name }}</option>
        
    </select>
    <div class="row">
        <template v-if="selectedRank == '銷售量'">
            <div class="col-xl-3 col-md-6 mb-1" v-for="course in courses">
                <div class="card mb-3">
                    <img :src="course.thumbnailUrl" class="card-img-top img-fluid" style="object-fit: cover;" />
                    <a href="">{{ course.courseName }}</a>
                    <div class="position-absolute top-0 end-0 p-2 bg-primary text-white">{{course.courseID}}</div>
                    <div class="card-body">
                        <p class="card-text">課程介紹: {{ course.description }}</p>
                        <p class="card-text">課程售量: {{course.totalQuantity}}</p>
                    </div>
                </div>
            </div>
        </template>
        <template v-else-if="selectedRank == '平均分數'">
            <div class="col-xl-3 col-md-6 mb-1" v-for="course in courses">
                <div class="card mb-3">
                    <img :src="course.thumbnailUrl" class="card-img-top img-fluid" style="object-fit: cover;" />
                    <a href="">{{ course.courseName }}</a>
                    <div class="position-absolute top-0 end-0 p-2 bg-primary text-white">{{course.courseID}}</div>
                    <div class="card-body">
                        <p class="card-text">課程介紹: {{ course.description }}</p>
                        <p class="card-text">課程平均分數: {{course.courseAverageRating}}</p>
                    </div>
                </div>
            </div>
        </template>
        <template v-else-if="selectedRank == '點擊次數'">
            <div class="col-xl-3 col-md-6 mb-1" v-for="course in courses">
                <div class="card mb-3">
                    <img :src="course.thumbnailUrl" class="card-img-top img-fluid" style="object-fit: cover;" />
                    <a href="">{{ course.courseName }}</a>
                    <div class="position-absolute top-0 end-0 p-2 bg-primary text-white">{{course.courseID}}</div>
                    <div class="card-body">
                        <p class="card-text">課程介紹: {{ course.description }}</p>
                        <p class="card-text">課程點擊次數: {{course.clicks}}</p>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>

@section Scripts {
    @* <script src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js" asp-append-version="true"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3.4.25/dist/vue.global.js"></script>
    <script>
        var VueApp = {
            data() {
                return {
                    selectedRank: '銷售量',
                    courses: [],
                    options:[
                        { name:"銷售量", value:"quantity" },
                        { name:"平均分數", value:"rate"},
                        { name:"點擊次數", value:"clicks"},
                    ]
                }
            },
            mounted() {
                var url = "https://localhost:7177/Home/GetQuantity";
                axios.get(url).then(response => {
                    this.courses = response.data;

                }).catch(error => {
                    alert(error);
                });

            }
        }

        var app = Vue.createApp(VueApp).mount("#app");


    </script>

}
