@model IEnumerable<CourseRanking>

@{
    ViewData["Title"] = "Home Page";
    var CourseRankbyAvg = ViewData["CourseRankbyAvg"] as List<CourseRanking>;
    var CourseRankbyClick = ViewData["CourseRankbyClick"] as List<Course>;
}

@section Styles{
   <style>
       thead{
           background-color: darkblue;
           color: white;
       }
        /* 弹出式窗口 */
        .modal {
            display: none; /* 默认隐藏 */
            position:  relative; /* 固定定位 */
            z-index: 1; /* 使其位于所有其他元素之上 */
            left: 0;
            top: 0;
            width: 200px;
            height: 100%;
            overflow: auto; /* 当内容超出屏幕时可以滚动 */
            background-color: rgb(0,0,0); /* 背景颜色 */
            background-color: rgba(0,0,0,0); /* 透明度 */
        }

        /* 弹出式窗口内容 */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 居中显示 */
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            color: black;
        }

        /* 关闭按钮 */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        
   </style>
}






<table id="CourseRanking-table" class="table">
        <thead>
        <tr>
            <td>課程ID</td>
            <td>教練ID</td>
            <td>課程平均分數</td>
            <td>日期</td>
        </tr>

        </thead>
</table>

<div class="col-lg-4">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <select id="select">
                <option value="1">平均分數</option>
                <option value="2">點擊次數</option>
            </select>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.min.js">
    </script>
    <script>
        if ($("#select").val() == "1") {
            $(document).ready(function () {
                $("table").DataTable({
                    ajax: {
                        type: "GET",
                        url: "/Home/IndexJson1",
                        dataSrc: function (json) {
                            return json;
                        },
                    },
                    columns: [
                        { "data": "courseID", "width": "10%" },
                        { "data": "trainerID", "width": "10%" },
                        { "data": "courseAverageRating", "width": "10%" },
                        { "data": "date", "width": "10%" },
                    ],
                    language: {
                        url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/zh-HANT.json',
                    },
                });
            });
        } else {
            $(document).ready(function () {
                $("table").DataTable({
                    ajax: {
                        type: "GET",
                        url: "/Home/IndexJson2",
                        dataSrc: function (json) {
                            return json;
                        },
                    },
                    columns: [
                        { "data": "courseID", "width": "10%" },
                        { "data": "trainerID", "width": "10%" },
                        { "data": "courseAverageRating", "width": "10%" },
                        { "data": "date", "width": "10%" },
                    ],
                    language: {
                        url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/zh-HANT.json',
                    },
                });
            });
        }

    </script>
    
}
