@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
        thead {
            background-color: burlywood;
            color: darkslategray;
        }

        .card-img-top {
            width: 100%;
            height: 20vw;
            object-fit: cover;
        }
    </style>

    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="css/main.css">

}
<section id ="app" class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="single-product">
                <img :src="course.thumbnailUrl" class="card-img-top img-fluid" style="object-fit: cover;" />
                <div>
                    <h6>
                        {{ course.courseName }}
                    </h6>
                    <h3>
                        課程介紹: {{ course.description }}
                        課程售量: {{ course.totalQuantity }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

@* 
<div class="container">
    <h1>排行榜</h1>
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-1" v-for="course in courses">
            <div class="card mb-3">
                <img :src="course.thumbnailUrl" class="card-img-top img-fluid" style="object-fit: cover;" />
                <a href="">{{ course.courseName }}</a>
                <div class="position-absolute top-0 end-0 p-2 bg-primary text-white">{{course.courseID}}</div>
                <div class="card-body">
                    <p class="card-text">課程介紹: {{ course.description }}</p>
                    <p class="card-text">課程售量: {{course.totalQuantity}}</p>
                </div>
            </div>
        </div> *@
        @*   <template v-else-if="selectedOption == 649">
        <div class="col-xl-3 col-md-6 mb-1" v-for="course in courses">
        <div class="card mb-3">
        <img :src="course.thumbnailUrl" class="card-img-top img-fluid" style="object-fit: cover;" />
        <a href="">{{ course.courseName }}</a>
        <div class="position-absolute top-0 end-0 p-2 bg-primary text-white">{{course.courseID}}</div>
        <div class="card-body">
        <p class="card-text">課程介紹: {{ course.description }}</p>
        <p class="card-text">課程平均分數: {{course.courseAverageRating}}</p>
        </div>
        </div>
        </div>
        </template>
        <template v-else-if="selectedOption == 899">
        <div class="col-xl-3 col-md-6 mb-1" v-for="course in courses">
        <div class="card mb-3">
        <img :src="course.thumbnailUrl" class="card-img-top img-fluid" style="object-fit: cover;" />
        <a href="">{{ course.courseName }}</a>
        <div class="position-absolute top-0 end-0 p-2 bg-primary text-white">{{course.courseID}}</div>
        <div class="card-body">
        <p class="card-text">課程介紹: {{ course.description }}</p>
        <p class="card-text">課程點擊次數: {{course.clicks}}</p>
        </div>
        </div>
        </div>
        </template> *@
 @*    </div>
</div> *@

@section Scripts {
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
            integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3.4.25/dist/vue.global.js"></script>

    <script>
        var VueApp = {
            data() {
                return {
                    // selectedOption: 499,
                    courses: [],
                    // options: [
                    //     { name:"銷售量", value: 1 },
                    //     { name:"平均分數", value: 2},
                    //     { name:"點擊次數", value: 3},
                    // ],
                }
            },
            // methods: {
            //     changeOption: function () {
            //         alert(this.selectedOption);
            //     },
            // },
            mounted() {
                var url = "https://localhost:7177/Home/GetQuantity";
                axios.get(url).then(response => {
                    this.courses = response.data;
                }).catch(error => {
                    alert(error);
                });
            }
        }

        var app = Vue.createApp(VueApp).mount("#app");


    </script>

}
