@model SearchViewModel
<div id="search_results_container">
    <!-- 显示 Trainer 搜索结果 -->
    <h3>Trainer</h3>
    <ul>
        @if(Model != null)
        {         
            @foreach (var trainer in Model.trainers)
            {
                <li>@trainer.TrainerName</li>
                <li>@trainer.TrainerID</li>
            }
        }
    </ul>

    <h3>Course</h3>
    <ul>
        @if (Model != null)
        {
            @foreach (var course in Model.courses)
            {
                <li>@course.CourseName</li>
                <li>@course.CourseID</li>
            }
        }
    </ul>

</div>