@model Project1.Models.Course

@{
    ViewData["Title"] = "Create";
}

<h1>課程新增</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerID" class="control-label"></label>
                <input asp-for="TrainerID" class="form-control" />
                <span asp-validation-for="TrainerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetCategory" class="control-label"></label>
                <input asp-for="PetCategory" class="form-control" />
                <span asp-validation-for="PetCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseCategory" class="control-label"></label>
                <input asp-for="CourseCategory" class="form-control" />
                <span asp-validation-for="CourseCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseType" class="control-label"></label>
                <input asp-for="CourseType" class="form-control" />
                <span asp-validation-for="CourseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="ApprovalStatus" class="control-label"></label>
                <input asp-for="ApprovalStatus" class="form-control" />
                <span asp-validation-for="ApprovalStatus" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxParticipants" class="control-label"></label>
                <input asp-for="MaxParticipants" class="form-control" />
                <span asp-validation-for="MaxParticipants" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="EnrollmentCount" class="control-label"></label>
                <input asp-for="EnrollmentCount" class="form-control" />
                <span asp-validation-for="EnrollmentCount" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Clicks" class="control-label"></label>
                <input asp-for="Clicks" class="form-control" />
                <span asp-validation-for="Clicks" class="text-danger"></span>
            </div> *@
          @*   圖片 *@
            <div class="form-group">
                <label asp-for="ThumbnailUrl" class="control-label"></label>
                <input type="file" name="thumbnailFile" class="form-control" accept="image/*" />
            </div>

            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回課程首頁</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

