@section Styles {
    <style></style>
}

<div id="app">
    @* 搜尋篩選介面----stsrt *@
    <div class="row" style="width:50%;margin-left:auto;margin-right:5px;">
        <label class="col-lg-4 form-label">篩選關鍵字</label>
        <input class="col-lg-8 form-control" v-model="filter" placeholder="請輸入篩選關鍵字" @@keyup="filterEmployees" />
    </div>
    @* 搜尋篩選介面--end *@

    <div  class="container">
       @*  編輯貼文區塊*@
        <div class="form-group">
            <div class="card mb-3 post-box">
                <div class="card-body">
                    <textarea id="postContent" class="form-control" placeholder="來分享有趣的貼文吧..." v-model="newPostContent"></textarea>
                    <button type="button" @@click="showModal" class="btn btn-primary">建立貼文</button>
                </div>
            </div>
        </div>
        @* 打卡顯示區塊---start*@
        <div class="form-group">
            <div class="card mb-3 latest-post">
                <div class="card-header">
                    最新部落格文章
                </div>
                <div class="card-body">
                    <div v-for="blog in blogs">
                      
                    </div>
                </div>
            </div>
        </div>
        @* 打卡顯示區塊-----end*@
    </div>
    
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
            integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3.4.25/dist/vue.global.js"></script>
<script>
    var VueApp = {
        data() {
                return {
                    filter: "",
                    blogs: [ ]
                }
         },
        methods: {
            showModal: function () { 
                alert("打卡");
            },
            filterEmployees: function () {
                    alert("搜尋");
            }
        }
    }
   
        var app = Vue.createApp(VueApp).mount("#app");
</script>
}

