@model IEnumerable<Project1.Models.Course>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <!-- 搜尋結果顯示區域 -->
    <div id="searchResult">
        <div id="app" class="row">
            <div  v-for="item in courses" :key="item.CourseID" class="col-lg-4 col-md-6">
                <div class="single-product position-relative overflow-hidden">
                    <div>
                        <!-- 顯示課程封面圖的部分視圖 -->
                        <div style="max-width:100%; max-height:100%;">
                            <img :src= "item.thumbnailUrl" class="img-fluid" alt="Trainer's photo" />
                        </div>
                    </div>
                    <div class="product-details text-black">
                        <!-- 課程名稱和描述 -->
                        <h5 class="card-title mt-3">{{item.courseName}}</h5>
                        <p class="card-text">{{item.description}}</p>
                    </div>
                    <div>
                        <!-- 操作按鈕組 -->
                        <div class="btn-group mt-3" role="group">
                            <a :href="detailsUrl(item.courseID)" class="btn btn-primary mr-2">查看</a>
                            <form :action="deleteUrl(item.courseID)" method="post">
                                <button type="submit" class="btn btn-danger mr-2">刪除</button>
                            </form>
                            <button type="button" class="btn btn-warning" v-on:click="approve(item)">審核{{item.approvalStatus}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var vueApp = {
            data() {
                return {
                    courses: [],
                }
            },
            mounted() {
                var url1 = "/Trainerrr/getallCourses"
                axios.get(url1).then(response => {
                    this.courses = response.data;
                }).catch(error => {
                    alert(error);
                });
            },
            methods: {
                detailsUrl(id) {
                    return `/Trainerrr/Details/${id}`;
                },
                editUrl(id) {
                    return `/Trainerrr/Edit/${id}`;
                },
                deleteUrl(id) {
                    return `/Trainerrr/Delete/${id}`;
                },
                approve(item) {
                    if (item.approvalStatus == "通過") {
                        item.approvalStatus = "未通過";
                    } else if (item.approvalStatus == "未通過") {
                        item.approvalStatus = "通過";
                    } else {
                        item.approvalStatus = "通過";
                    }

                    axios.post('/Trainerrr/UpdateApprovalStatus', {
                        id: item.courseID,
                        approvalStatus: item.approvalStatus
                    })
                        .then(response => {
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },
            }
        }

        var app = Vue.createApp(vueApp).mount("#app");
    </script>
}
