@section Styles {
    <style>
        .text-center {
            width: 400px;
            margin: 0 auto;
        }

        .post-container {
            width: 800px;
            margin: 0 auto;
        }

        .post {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 5px;
            position: relative; /* 使子元素可以絕對定位 */
        }

        .post-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

            .post-header img {
                border-radius: 50%;
                margin-right: 10px;
            }

        .post-body img {
            width: 100%;
            height: 450px; /* 固定高度，可根據需求調整 */
            object-fit: cover; /* 確保圖片填滿區域並且保持比例 */
            border-radius: 5px;
            margin-bottom: 10px;
            border: 1px solid #333;
        }

        .post-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .post-actions {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            gap: 5px;
        }

        /* 編輯模態框中的圖片樣式 */
        .edit-img-wrapper {
            position: relative;
            display: inline-block;
            margin-right: 10px;
        }

            .edit-img-wrapper img {
                width: 100px; /* 縮小圖片 */
                height: 100px;
                object-fit: cover;
                border-radius: 5px;
            }

            .edit-img-wrapper .delete-img {
                position: absolute;
                top: 5px;
                right: 5px;
                background: red;
                color: white;
                border: none;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

        .new-img-preview {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            margin-left: 10px; /* 與現有圖片保持一致 */
        }

        .edit-img-wrapper {
            position: relative;
            display: inline-block;
            margin-right: 10px; /* 添加右邊距來分隔圖片 */
        }

        .new-img-wrapper {
            display: flex;
            align-items: center;
        }

        .img-wrapper {
            position: relative;
            display: inline-block;
            margin-right: 10px; /* 添加右邊距來分隔圖片 */
        }

        .img-preview {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        .delete-img {
            position: absolute;
            top: 5px;
            right: 5px;
            background: red;
            color: white;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .bi-image {
            font-size: 2rem;
            cursor: pointer;
        }

        .trainer-photo {
            width: 100%;
            max-width: 150px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .container {
            display: flex;
            justify-content: space-between; /* 平均分配左右兩個區塊 */
        }

        .img-thumbnail {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .content {
            flex: 3;
            padding: 20px;
        }

        /* 新增課程區域樣式 */
        .new-course-section {
            color: green;
            border: 2px dashed green;
            padding: 10px;
            margin-top: 20px;
        }

        .course-container {
            max-height: 650px; /* 根據你的需求調整高度 */
            overflow-y: auto; /* 啟用垂直滾動條 */
            overflow-x: hidden; /* 隱藏水平滾動條 */
        }

        .course-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: relative;
        }

            .course-card img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 5px;
                margin-right: 15px;
            }

        .course-card-details {
            flex: 1;
        }

        .course-card-actions {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .course-checkbox {
            position: absolute;
            top: 10px;
            left: 10px;
            border: 1px solid #333;
        }

        .dropdown-row {
            display: flex; /* 使用 Flexbox 來排列子元素 */
            justify-content: space-between; /* 在下拉選單之間添加等距的間隔 */
            align-items: center; /* 垂直居中對齊所有元素 */
            margin-bottom: 15px; /* 添加底部間距 */
        }

        .form-group {
            display: flex;
            flex-direction: column; /* 使子元素垂直排列 */
            align-items: flex-start; /* 對齊到容器的開始位置 */
            margin-bottom: 15px; /* 為每組控件添加底部間隔 */
        }

            .form-group label {
                width: 100%; /* 讓標籤填滿整個可用寬度 */
                margin-bottom: 5px; /* 在標籤和控件之間添加一些間隔 */
            }

            .form-group:last-child {
                margin-right: 0; /* 移除最後一個表單組的右側間距 */
            }

        .select-limited-height {
            max-height: 150px; /* 根據你選項的高度調整這個值 */
            overflow-y: auto; /* 啟用垂直滾動條 */
            overflow-x: hidden; /* 隱藏水平滾動條 */
        }

        .img-preview {
            width: 100px; /* 或根據需要調整 */
            height: 100px;
            object-fit: cover;
            border-radius: 5px;
        }

        .image-preview-wrapper {
            position: relative;
            display: inline-block;
            margin-top: 10px;
        }

        .thumbnail-preview {
            width: 100%; /* 或設置你想要的任何特定大小 */
            height: auto;
            display: block;
        }

        .btn-delete-img {
            position: absolute;
            top: 0;
            right: 0;
            background: #FF0000; /* 紅色背景以提高可見性 */
            color: #FFFFFF; /* 白色文字 */
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px; /* 根據需要調整大小 */
            padding: 0;
        }
    </style>
}

<div id="app" class="container mt-5">
    <div class="row">
        <div class="col-md-3 text-center">
            <!-- 訓練師大頭貼和名字 -->
            <img :src="trainerPhoto" alt="訓練師照片" class="img-thumbnail">
            <h4>{{ trainerName }}</h4>

            <!-- 新增課程區域 -->
            <div class="new-course-section">
                <h5>新增課程區域</h5>
                <button type="button" class="btn btn-success" @@click="showAddCourseModal">新增課程</button>
                <div class="course-container">
                    <div v-for="course in courses" :key="course.courseID" class="course-card">
                        <input type="checkbox" class="course-checkbox" v-model="selectedCourses" :value="course.courseID">
                        <img :src="course.thumbnailUrl" alt="Course Thumbnail" style="border:1px solid #333">
                        <div class="course-card-details">
                            <h6>{{ course.courseName }}</h6>
                            <p>{{ course.description }}</p>
                        </div>
                        <div class="course-card-actions">
                            <button type="button" class="btn btn-primary btn-sm" @@click="viewCourseDetails(course.courseID)">檢視</button>
                            <button type="button" class="btn btn-primary btn-sm" @@click="showPublishModal(course.courseID)">發布</button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary mt-3" @@click="publishSelectedCourses">發布</button>
            </div>
        </div>

        <div class="col-md-9">
            <div class="post-container">
                @* 搜尋篩選界面 *@
                <div class="row mb-3">
                    <label class="col-lg-4 form-label">篩選關鍵字</label>
                    <input class="col-lg-8 form-control" v-model="filter" placeholder="請輸入篩選關鍵字" @@keyup="filterEmployees" />
                </div>
                @* 編輯貼文區塊 *@
                <div class="form-group">
                    <div class="card mb-3 post-box">
                        <div class="card-body">
                            <textarea id="postContent" class="form-control" placeholder="來分享有趣的貼文吧..." v-model="newPostContent"></textarea>
                            <button type="button" @@click="showModal" class="btn btn-primary">建立貼文</button>
                        </div>
                    </div>
                </div>
                <!-- 貼文顯示區塊 -->
                <div v-for="(post, index) in posts" :key="post.blogID">
                    <div class="post">
                        <div class="post-header">
                            <img :src="post.trainer.photo" alt="訓練師照片" width="50" height="50">
                            <div>
                                <h4>{{ post.trainer.trainerName }}</h4>
                            </div>
                        </div>
                        <h5>{{ post.title }}</h5>
                        <div class="post-body">
                            <p>{{ post.content }}</p>
                            <div :id="'carouselExampleControls' + post.blogID" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" v-if="post.image1">
                                        <img class="d-block w-100" :src="post.image1" alt="貼文圖片1">
                                    </div>
                                    <div class="carousel-item" v-if="post.image2">
                                        <img class="d-block w-100" :src="post.image2" alt="貼文圖片2">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" :href="'#carouselExampleControls' + post.blogID" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" :href="'#carouselExampleControls' + post.blogID" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="post-actions">
                            <button class="btn btn-primary btn-sm" @@click="editPost(post)">編輯</button>
                            <button class="btn btn-danger btn-sm" @@click="deletePost(post.blogID)">刪除</button>
                        </div>
                        <div class="post-footer">
                            <div class="post-likes">
                                <button class="btn btn-outline-primary btn-sm" @@click="likePost(post)">
                                    👍 {{ post.likes || 0 }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr v-if="index < posts.length - 1">
                </div>
            </div>
        </div>
    </div>

    <!-- 新增貼文模態框 -->
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postModalLabel">建立貼文</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="postTitle">標題</label>
                        <input type="text" class="form-control" id="postTitle" v-model="newPostTitle">
                    </div>
                    <div class="form-group">
                        <label for="postContent">內容</label>
                        <textarea class="form-control" id="postContent" v-model="newPostContent" placeholder="在想些什麼？"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="postImage1">圖片1</label>
                        <input type="file" class="form-control" id="postImage1" @@change="onImage1Change">
                    </div>
                    <div class="form-group">
                        <label for="postImage2">圖片2</label>
                        <input type="file" class="form-control" id="postImage2" @@change="onImage2Change">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary" @@click="createPost">發布</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 編輯貼文模態框 -->
    <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPostModalLabel">編輯貼文</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editPostTitle">標題</label>
                        <input type="text" class="form-control" id="editPostTitle" v-model="editPostTitle">
                    </div>
                    <div class="form-group">
                        <label for="editPostContent">內容</label>
                        <textarea class="form-control" id="editPostContent" v-model="editPostContent"></textarea>
                    </div>
                    <div class="form-group">
                        <label>現有圖片</label>
                        <div style="display: flex; align-items: center;">
                            <div v-if="editPostImage1Url || newEditPostImage1Url" class="img-wrapper">
                                <img :src="newEditPostImage1Url || editPostImage1Url" alt="編輯圖片1" class="img-preview">
                                <button class="delete-img" @@click="removeImage(1)">X</button>
                            </div>
                            <div v-else class="img-wrapper">
                                <label for="editPostImage1" class="bi bi-image" style="font-size: 2rem; cursor: pointer;"></label>
                                <input type="file" class="form-control" id="editPostImage1" @@change="onEditImage1Change" style="display: none;">
                            </div>
                            <div v-if="editPostImage2Url || newEditPostImage2Url" class="img-wrapper" style="margin-left: 10px;">
                                <img :src="newEditPostImage2Url || editPostImage2Url" alt="編輯圖片2" class="img-preview">
                                <button class="delete-img" @@click="removeImage(2)">X</button>
                            </div>
                            <div v-else class="img-wrapper" style="margin-left: 10px;">
                                <label for="editPostImage2" class="bi bi-image" style="font-size: 2rem; cursor: pointer;"></label>
                                <input type="file" class="form-control" id="editPostImage2" @@change="onEditImage2Change" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary" @@click="saveEditPost">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 新增課程模態框 -->
    <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCourseModalLabel">新增課程</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="courseName">課程名稱:</label>
                        <input type="text" class="form-control" id="courseName" v-model="newCourse.courseName">
                    </div>
                    <div class="form-group">
                        <label for="description">課程描述:</label>
                        <textarea class="form-control" id="description" v-model="newCourse.description"></textarea>
                    </div>
                    <div class="dropdown-row">
                        <div class="form-group">
                            <label for="petCategoryID">寵物分類:</label>
                            <select class="form-control" id="petCategoryID" v-model="newCourse.petCategoryID">
                                <option v-for="category in petCategories" :value="category.petCategoryID">{{ category.petCategoryName }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="courseCategoryID">課程分類:</label>
                            <select class="form-control" id="courseCategoryID" v-model="newCourse.courseCategoryID">
                                <option v-for="category in courseCategories" :value="category.courseCategoryID">{{ category.courseCategoryName }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="courseTypeID">課程類型:</label>
                            <select class="form-control" id="courseTypeID" v-model="newCourse.courseTypeID">
                                <option v-for="type in courseTypes" :value="type.courseTypeID">{{ type.courseTypeName }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="locationID">上課地點:</label>
                            <select class="form-control" id="locationID" v-model="newCourse.locationID">
                                <option v-for="location in locations" :value="location.locationID">{{ location.locationName }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">價格:</label>
                        <input type="number" class="form-control" id="price" v-model="newCourse.price">
                    </div>
                    <div class="form-group">
                        <label for="maxParticipants">人數上限:</label>
                        <input type="number" class="form-control" id="maxParticipants" v-model="newCourse.maxParticipants">
                    </div>
                    <div class="form-group">
                        <label for="thumbnailUrl">封面圖:</label>
                        <input type="file" class="form-control" id="thumbnailUrl" @@change="onThumbnailChange">
                        <div v-if="newCourse.thumbnailUrl" class="image-preview-wrapper">
                            <img :src="thumbnailPreview" class="img-preview" />
                            <button type="button" class="btn-delete-img" @@click="removeThumbnail">✖</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary" @@click="createCourse">新增</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 檢視/編輯模態框 -->
    <div class="modal fade" id="viewEditCourseModal" tabindex="-1" role="dialog" aria-labelledby="viewEditCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewEditCourseModalLabel">檢視課程</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 檢視模式 -->
                    <div v-if="!isEditing">
                        <div>
                            <img :src="viewCourse.thumbnailUrl" alt="封面圖" style="width: 100%; border:1px solid #333">
                        </div>
                        <p><strong>課程名稱:</strong> {{ viewCourse.courseName }}</p>
                        <p><strong>課程描述:</strong> {{ viewCourse.description }}</p>
                        <p><strong>價格:</strong> {{ viewCourse.price }}</p>
                        <p><strong>上課地點:</strong> {{ viewCourse.locationID }}</p>
                        <p><strong>寵物分類:</strong> {{ viewCourse.petCategoryID }}</p>
                        <p><strong>課程分類:</strong> {{ viewCourse.courseCategoryID }}</p>
                        <p><strong>課程類型:</strong> {{ viewCourse.courseTypeID }}</p>
                        <p><strong>人數上限:</strong> {{ viewCourse.maxParticipants }}</p>
                    </div>
                    <!-- 編輯模式 -->
                    <div v-else>
                        <div class="form-group">
                            <label for="editCourseName">課程名稱:</label>
                            <input type="text" class="form-control" id="editCourseName" v-model="viewCourse.courseName">
                        </div>
                        <div class="form-group">
                            <label for="editDescription">課程描述:</label>
                            <textarea class="form-control" id="editDescription" v-model="viewCourse.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="editPrice">價格:</label>
                            <input type="number" class="form-control" id="editPrice" v-model="viewCourse.price">
                        </div>
                        <div class="form-group">
                            <label for="editLocationID">上課地點:</label>
                            <select class="form-control" id="editLocationID" v-model="viewCourse.locationID">
                                <option v-for="location in locations" :value="location.locationID">{{ location.locationName }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editPetCategoryID">寵物分類:</label>
                            <select class="form-control" id="editPetCategoryID" v-model="viewCourse.petCategoryID">
                                <option v-for="category in petCategories" :value="category.petCategoryID">{{ category.petCategoryName }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editCourseCategoryID">課程分類:</label>
                            <select class="form-control" id="editCourseCategoryID" v-model="viewCourse.courseCategoryID">
                                <option v-for="category in courseCategories" :value="category.courseCategoryID">{{ category.courseCategoryName }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editCourseTypeID">課程類型:</label>
                            <select class="form-control" id="editCourseTypeID" v-model="viewCourse.courseTypeID">
                                <option v-for="type in courseTypes" :value="type.courseTypeID">{{ type.courseTypeName }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editMaxParticipants">人數上限:</label>
                            <input type="number" class="form-control" id="editMaxParticipants" v-model="viewCourse.maxParticipants">
                        </div>
                        <div class="form-group">
                            <label for="editThumbnailUrl">封面圖:</label>
                            <input type="file" class="form-control" id="editThumbnailUrl" @@change="onEditThumbnailChange">
                            <div v-if="editThumbnailPreview" class="image-preview-wrapper">
                                <img :src="editThumbnailPreview" class="img-preview" />
                                <button type="button" class="btn-delete-img" @@click="removeEditThumbnail">✖</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @@click="closeViewEditModal">關閉</button>
                    <button type="button" class="btn btn-primary" v-if="!isEditing" @@click="editCourse">編輯</button>
                    <button type="button" class="btn btn-primary" v-if="isEditing" @@click="saveCourse">確定</button>
                    <button type="button" class="btn btn-secondary" v-if="isEditing" @@click="cancelEdit">取消</button>
                    <button type="button" class="btn btn-primary" v-if="!isEditing" @@click="showPublishModal">發布</button>

                </div>
            </div>
        </div>
    </div>

    <!-- 發布模態框 -->
    <div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="publishModalLabel">發布課程</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="publishDateTime">選擇發佈時間:</label>
                        <input type="datetime-local" class="form-control" id="publishDateTime" v-model="publishDateTime">
                        <button type="button" class="btn btn-primary mt-2" @@click="publishCourse">確定</button>
                    </div>
                    <div class="form-group">
                        <label>已發佈的課堂:</label>
                        <ul>
                            <li v-for="schedule in publishedSchedules" :key="schedule.schedulerID">
                                {{ schedule.scheduler | formatDateTime }}
                                <button class="btn btn-danger btn-sm" @@click="retractPublish(schedule.schedulerID)">收回發佈</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
            integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3.4.25/dist/vue.global.js"></script>
    <script>
        var getBlogUrl = "https://localhost:7177/Trainerrr/GetBlog";
        var createPostUrl = "https://localhost:7177/Trainerrr/CreatePost";
        var editPostUrl = "https://localhost:7177/Trainerrr/EditPost";
        var deletePostUrl = "https://localhost:7177/Trainerrr/DeletePost";
        var getCoursesUrl = "https://localhost:7177/Trainerrr/GetCourses";
        var createCourseUrl = "https://localhost:7177/Trainerrr/CreateCourse";
        var getDropdownDataUrl = "https://localhost:7177/Trainerrr/GetDropdownData";
        var getCurrentTrainerInfoUrl = "https://localhost:7177/Trainerrr/GetCurrentTrainerInfo";
        var editCourseUrl = "https://localhost:7177/Trainerrr/EditCourse";
        var publishCourseUrl = "https://localhost:7177/Trainerrr/PublishCourse";
        var getPublishedSchedulesUrl = "https://localhost:7177/Trainerrr/GetPublishedSchedules";
        var retractPublishUrl = "https://localhost:7177/Trainerrr/RetractPublish";

        var VueApp = {
            data() {
                return {
                    posts: [],
                    filter: "",
                    newPostTitle: "",
                    newPostContent: "",
                    newPostImage1: null,
                    newPostImage2: null,
                    editPostId: null,
                    editPostTitle: "",
                    editPostContent: "",
                    editPostImage1: null,
                    editPostImage2: null,
                    editPostImage1Url: null,
                    editPostImage2Url: null,
                    newEditPostImage1Url: null,
                    newEditPostImage2Url: null,
                    deletedImages: [],
                    trainerName: "",
                    trainerPhoto: "",
                    courses: [],
                    selectedCourses: [],
                    newCourse: {
                        courseName: "",
                        description: "",
                        petCategoryID: null,
                        courseCategoryID: null,
                        courseTypeID: null,
                        locationID: null,
                        price: 0,
                        maxParticipants: 0,
                        thumbnailUrl: null
                    },
                    viewCourse: {},
                    petCategories: [],
                    courseCategories: [],
                    courseTypes: [],
                    locations: [],
                    isEditing: false,
                    publishDateTime: null,
                    editThumbnailPreview: null,
                    thumbnailPreview: null,
                    publishedSchedules: []
                };
            },
            mounted() {
                this.fetchPosts();
                this.fetchTrainerInfo(); // 取得訓練師資料
                this.fetchCourses(); // 取得課程資料
                this.fetchDropdownData(); // 取得下拉選單資料
                this.$nextTick(() => {
                    $('select').niceSelect(); // 初始化niceSelect
                    $('select').on('change', () => {
                        this.newCourse.courseCategoryID = $('#courseCategoryID').val();
                        this.newCourse.petCategoryID = $('#petCategoryID').val();
                        this.newCourse.locationID = $('#locationID').val();
                        this.newCourse.courseTypeID = $('#courseTypeID').val();
                        // 為其他select元素做類似處理
                    });
                    // 添加事件監聽器來重置模態框數據
                    $('#addCourseModal').on('hidden.bs.modal', () => {
                        this.resetModalData();  // 這將確保所有欄位被重置
                        // 重新初始化所有下拉選單，確保它們在UI上也顯示為未選狀態
                        $('select').niceSelect('update');
                    });
                });
            },
            methods: {
                fetchPosts() {
                    axios.get(getBlogUrl).then(response => {
                        this.posts = response.data;
                    }).catch(error => {
                        alert(error);
                    });
                },
                fetchTrainerInfo() {
                    axios.get(getCurrentTrainerInfoUrl).then(response => {
                        const trainer = response.data;
                        if (trainer.success) {
                            this.trainerName = trainer.trainerName;
                            this.trainerPhoto = trainer.photo;
                        } else {
                            alert(trainer.message);
                        }
                    }).catch(error => {
                        alert(error);
                    });
                },
                fetchCourses() {
                    axios.get(getCoursesUrl).then(response => {
                        this.courses = response.data;
                    }).catch(error => {
                        alert(error);
                    });
                },
                fetchDropdownData() {
                    axios.get(getDropdownDataUrl).then(response => {
                        this.petCategories = response.data.petCategories;
                        this.courseCategories = response.data.courseCategories;
                        this.courseTypes = response.data.courseTypes;
                        this.locations = response.data.locations;
                        // 確保在數據加載完成後重新初始化 nice-select
                        this.$nextTick(() => {
                            $('select').niceSelect('update');
                        });
                    }).catch(error => {
                        alert(error);
                    });
                },
                showModal() {
                    $('#postModal').modal('show');
                },
                createPost() {
                    const formData = new FormData();
                    formData.append("title", this.newPostTitle);
                    formData.append("content", this.newPostContent);
                    formData.append("image1", this.newPostImage1);
                    formData.append("image2", this.newPostImage2);

                    axios.post(createPostUrl, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                        this.fetchPosts();
                        $('#postModal').modal('hide');
                    }).catch(error => {
                        console.log(error);
                        alert(error);
                    });
                },
                editPost(post) {
                    this.editPostId = post.blogID;
                    this.editPostTitle = post.title;
                    this.editPostContent = post.content;
                    this.editPostImage1 = null;
                    this.editPostImage2 = null;
                    this.editPostImage1Url = post.image1;
                    this.editPostImage2Url = post.image2;
                    this.newEditPostImage1Url = null;
                    this.newEditPostImage2Url = null;
                    this.deletedImages = [];
                    $('#editPostModal').modal('show');
                },
                removeImage(imageIndex) {
                    if (imageIndex === 1) {
                        this.newEditPostImage1Url = null;
                        this.editPostImage1Url = null;
                        this.editPostImage1 = null;
                    } else if (imageIndex === 2) {
                        this.newEditPostImage2Url = null;
                        this.editPostImage2Url = null;
                        this.editPostImage2 = null;
                    }
                },
                saveEditPost() {
                    let formData = new FormData();
                    formData.append('title', this.editPostTitle);
                    formData.append('content', this.editPostContent);
                    formData.append('image1', this.editPostImage1);
                    formData.append('image2', this.editPostImage2);
                    formData.append('deletedImages', JSON.stringify(this.deletedImages));

                    axios.post(`${editPostUrl}/${this.editPostId}`, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                        this.fetchPosts();
                        $('#editPostModal').modal('hide');
                    }).catch(error => {
                        alert(error);
                    });
                },
                onImage1Change(event) {
                    this.newPostImage1 = event.target.files[0];
                },
                onImage2Change(event) {
                    this.newPostImage2 = event.target.files[0];
                },
                onEditImage1Change(event) {
                    this.editPostImage1 = event.target.files[0];
                    this.newEditPostImage1Url = URL.createObjectURL(this.editPostImage1);
                },
                onEditImage2Change(event) {
                    this.editPostImage2 = event.target.files[0];
                    this.newEditPostImage2Url = URL.createObjectURL(this.editPostImage2);
                },
                filterEmployees() {
                    alert("搜尋");
                },
                deletePost(postID) {
                    if (confirm("確定要刪除這篇貼文嗎？")) {
                        axios.delete(`${deletePostUrl}/${postID}`)
                            .then(response => {
                                this.fetchPosts();
                            })
                            .catch(error => {
                                console.error("刪除貼文時出現錯誤!", error);
                            });
                    }
                },
                likePost(post) {
                    if (!post.likes) {
                        this.$set(post, 'likes', 0);
                    }
                    post.likes++;
                },
                showAddCourseModal() {
                    $('#addCourseModal').modal('show');
                },
                onThumbnailChange(event) {
                    this.newCourse.thumbnailUrl = event.target.files[0];
                    const file = event.target.files[0];
                    if (file) {
                        this.newCourse.thumbnailUrl = file;
                        this.thumbnailPreview = URL.createObjectURL(file);
                    }
                },
                removeThumbnail() {
                    this.newCourse.thumbnailUrl = null;
                    this.thumbnailPreview = null; // 確保清除預覽
                    document.getElementById('thumbnailUrl').value = ""; // 重置文件輸入
                },
                resetModalData() {
                    this.newCourse = {  // 假設 `newCourse` 是存儲新課程信息的數據結構
                        courseName: "",
                        description: "",
                        petCategoryID: null,
                        courseCategoryID: null,
                        courseTypeID: null,
                        locationID: null,
                        price: 0,
                        maxParticipants: 0,
                        thumbnailUrl: null
                    };
                    // 清除封面圖預覽
                    this.thumbnailPreview = null;
                    document.getElementById('thumbnailUrl').value = "";
                    // 清除下拉選單的 jQuery niceSelect 插件所選值
                    $('select').val(null).niceSelect('update');
                },
                createCourse() {
                    const formData = new FormData();
                    formData.append("courseName", this.newCourse.courseName);
                    formData.append("description", this.newCourse.description);
                    formData.append("petCategoryID", this.newCourse.petCategoryID);
                    formData.append("courseCategoryID", this.newCourse.courseCategoryID);
                    formData.append("courseTypeID", this.newCourse.courseTypeID);
                    formData.append("locationID", this.newCourse.locationID);
                    formData.append("price", this.newCourse.price);
                    formData.append("maxParticipants", this.newCourse.maxParticipants);
                    if (this.newCourse.thumbnailUrl) {
                        formData.append("thumbnailUrl", this.newCourse.thumbnailUrl);
                    }

                    axios.post(createCourseUrl, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                        this.fetchCourses();
                        $('#addCourseModal').modal('hide');
                    }).catch(error => {
                        console.log(error);
                        alert(error);
                    });
                },
                showViewEditModal() {
                    $('#viewEditCourseModal').modal('show');
                },
                closeViewEditModal() {
                    $('#viewEditCourseModal').modal('hide');
                    this.isEditing = false;
                },
                showPublishModal(courseID) {
                    this.viewCourse.courseID = courseID;
                    this.fetchPublishedSchedules(courseID);
                    $('#publishModal').modal('show');
                },
                fetchPublishedSchedules(courseID) {
                    axios.get(getPublishedSchedulesUrl, {
                        params: {
                            courseID: courseID// 替換為你需要的課程ID
                        }
                    }).then(response => {
                        this.publishedSchedules = response.data;
                    }).catch(error => {
                        console.log(error);
                        alert("無法取得已發佈的課程時間");
                    });
                },
                publishCourse() {
                    if (!this.viewCourse.courseID || !this.publishDateTime) {
                        alert("請先選擇課程和發布時間");
                        return;
                    }

                    const schedule = {
                        CourseID: this.viewCourse.courseID,
                        Scheduler: new Date(this.publishDateTime)
                    };

                    axios.post(publishCourseUrl, schedule).then(response => {
                        alert(response.data.message);
                        this.fetchPublishedSchedules(this.viewCourse.courseID);
                    }).catch(error => {
                        console.log(error);
                        alert("無法發布課程");
                    });
                },
                retractPublish(scheduleID) {
                    axios.post(`${retractPublishUrl}/${scheduleID}`).then(response => {
                        alert(response.data.message);
                        this.fetchPublishedSchedules(this.viewCourse.courseID);
                    }).catch(error => {
                        console.log(error);
                        alert("無法收回發佈");
                    });
                },
                viewCourseDetails(courseID) {
                    this.viewCourse = this.courses.find(course => course.courseID === courseID);
                    this.isEditing = false;
                    this.showViewEditModal();
                },
                editCourse() {
                    this.isEditing = true;
                },
                cancelEdit() {
                    this.isEditing = false;
                },
                saveCourse() {
                    const formData = new FormData();
                    formData.append("courseName", this.viewCourse.courseName);
                    formData.append("description", this.viewCourse.description);
                    formData.append("petCategoryID", this.viewCourse.petCategoryID);
                    formData.append("courseCategoryID", this.viewCourse.courseCategoryID);
                    formData.append("courseTypeID", this.viewCourse.courseTypeID);
                    formData.append("locationID", this.viewCourse.locationID);
                    formData.append("price", this.viewCourse.price);
                    formData.append("maxParticipants", this.viewCourse.maxParticipants);
                    if (this.viewCourse.thumbnailUrl) {
                        formData.append("thumbnailUrl", this.viewCourse.thumbnailUrl);
                    }

                    axios.post(`${editCourseUrl}/${this.viewCourse.courseID}`, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                        this.fetchCourses();
                        this.isEditing = false;
                        this.closeViewEditModal();
                    }).catch(error => {
                        console.log(error);
                        alert(error);
                    });
                },
                onEditThumbnailChange(event) {
                    this.viewCourse.thumbnailUrl = event.target.files[0];
                    const file = event.target.files[0];
                    if (file) {
                        this.viewCourse.thumbnailUrl = file;
                        this.editThumbnailPreview = URL.createObjectURL(file);
                    }
                },
                removeEditThumbnail() {
                    this.viewCourse.thumbnailUrl = null;
                    this.editThumbnailPreview = null;
                    document.getElementById('editThumbnailUrl').value = "";
                }
            },
            filters: {
                formatDateTime(value) {
                    if (value) {
                        return new Date(value).toLocaleString();
                    }
                    return '';
                }
            }
        };


        var app = Vue.createApp(VueApp).mount("#app");
    </script>
}

