@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "刪除帳號";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    @* <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p> *@
    <p>
        <strong>刪除帳號將會永久刪除您的帳戶，且無法恢復。</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" onsubmit="return confirmDelete()">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="請輸入您的密碼。" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-100 btn btn-lg btn-danger" type="submit">刪除帳號</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function confirmDelete() {
            return confirm("您確定要刪除此帳號嗎? 此操作無法恢復")
        }
    </script>
}
