@page
@model Disable2faModel
@{
    ViewData["Title"] = "禁用雙因素驗證";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>這個操作僅會禁用雙重驗證。</strong>
    </p>
    <p>
        禁用雙重驗證不會更改認證應用程式中使用的金鑰。如果你希望更改認證應用程式中使用的金鑰，你應該 <a asp-page="./ResetAuthenticator">重置你的認證器金鑰。</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">禁用雙重驗證</button>
    </form>
</div>
