@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "生成雙因素身份驗證（2FA）恢復碼";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>請將恢復碼妥善保管</strong>
    </p>
    <p>
        如果您遺失設備並且沒有恢復碼，將無法訪問您的帳戶。
    </p>
    <p>
        生成新恢復碼不會更改身份驗證應用程式中使用的密鑰。如果您希望更改身份驗證應用程式中使用的密鑰，您應該： <a asp-page="./ResetAuthenticator">重置您的身份驗證密鑰。</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">生成恢復碼</button>
    </form>
</div>
