@page
@model PersonalDataModel
@{
    ViewData["Title"] = "刪除帳號";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        @* <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p> *@
        <p>刪除您的帳戶。</p>
        <p>
            <strong>刪除帳號將會永久刪除您的帳戶，且無法恢復。</strong>
        </p>
        @* <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form> *@
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">確認刪除</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
