@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "重置認證器金鑰";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>如果重置認證器金鑰，您的認證應用程式將無法使用，直到您重新配置它。</strong>
    </p>
    <p>
        此過程將禁用雙因素驗證，直到您驗證您的認證應用程式。
        如果您未完成認證應用程式配置，您可能會失去訪問您的帳戶的權限。
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">重置認證器金鑰</button>
    </form>
</div>
