@model Project1.ViewModels.ManageUserRolesViewModel

<h1>用戶 @Model.UserName 的權限</h1>

<form asp-action="Manage" method="post">
    <input type="hidden" asp-for="UserId" />
    <table class="table">
        <thead>
            <tr>
                <th>權限等級</th>
                <th>選擇</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Roles[i].RoleName)
                    </td>
                    <td>
                        <input type="checkbox" asp-for="Roles[i].Selected" />
                        <input type="hidden" asp-for="Roles[i].RoleId" />
                        <input type="hidden" asp-for="Roles[i].RoleName" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

